<?xml version="1.0" encoding="utf-8" ?>
<!--
  autoReload  改变配置自动加载
  internalLogLevel 内部日志级别
  internalLogFile  内部日志文件
  -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Debug"
      internalLogFile="./../logs/internal-asmnlog.txt">
  
  <!--输出目标-->
  <targets>
    <target xsi:type="File" name="file" fileName="./../logs/nlog-asm${shortdate}.log" layout="Date=${longdate} ThreadId=${threadid} processid=${processid} Level=${uppercase:${level}} Msg=${message}" />
    <target xsi:type="Console" name="console" layout="Date=${longdate} ThreadId=${threadid} processid=${processid} Level=${uppercase:${level}} Msg=${message}" />
  </targets>

  <!--输出规则-->
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>

</nlog>
